{% extends "bootstrap/base.html" %}
{% block title %}Account information{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Account information</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="lead">Hi, {{login}}!</h3>

            <p>Your Id is {{profile_id}},</p>

            {% if full_name %}
                <p>Your full name is {{full_name}},</p>
            {% else %}
                <p>You didn't write your fullname,</p>
            {% endif %}

            {% if bio %}
                <p>Your bio is "{{bio}}",</p>
            {% else %}
                <p>You didn't write your bio,</p>
            {% endif %}

            {% if website %}
                <p>Your website is "{{website}}"</p>
            {% else %}
                <p>You didn't write your website</p>
            {% endif %}

            <h2>You have:</h2>
            <p>{{count_media}} posts</p>    
            <p>{{count_follows}} follows</p>
            <p>{{count_followed_by}} followers</p>
        </div>
       <div class="col-md-6">
            <div class="center-block">
                <img src=profile_picture alt="Profile photo" align="middle" class="img-thumbnail">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                <a href={{home_url}} type="button" class="btn btn-danger btn-lg">Return</a>
            </h1>
        </div>
    </div>
{% endblock %}