{% extends "bootstrap/base.html" %}
{% block title %}Account information{% endblock %}
{% block body %}

    <div class="modal fade" id="waiting">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Please wait</h4>
                </div>
                <div class="modal-body">
                    <p>Analysis can take a while...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Login by Instagram</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">
                <a href={{login_url}} type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                   data-target="#waiting">Login</a>
            </h1>
        </div>
    </div>
{% endblock %}